[MESSAGES CONTROL]
disable=
    bad-continuation,
    too-many-arguments,
    missing-class-docstring,
    missing-function-docstring,
    too-many-locals,
    too-many-statements,
    too-few-public-methods,
    wrong-import-order,
    missing-module-docstring,
    broad-except,
    too-many-function-args,
    duplicate-code,
    fixme,
    unsubscriptable-object,

# TODO: `unsubscriptable-object` generates false positives for python 3.9 and pylint==2.6.
#   https://github.com/PyCQA/pylint/issues/3882
# Re-enable it when the issue is fixed.

good-names=a,b,c,e,g,h,i,k,m,q,r,x,y,z,cm,ic,rc,ek,ex,ct,vk,sk,pk,pp,X,Y,r,el,nf,g1,g2,tx

max-attributes=10

[REPORTS]
output-format=text
