[MESSAGES CONTROL]
disable=
    bad-continuation,
    too-many-arguments,
    missing-class-docstring,
    missing-function-docstring,
    too-many-locals,
    too-many-statements,
    too-few-public-methods,
    wrong-import-order,
    missing-module-docstring,
    broad-except,
    too-many-function-args,
    duplicate-code,
    fixme

good-names=a,b,c,e,g,h,i,k,m,q,r,x,y,z,cm,ic,rc,ek,ex,ct,vk,sk,pk,pp,X,Y,r,el,nf,g1,g2

max-attributes=10

[REPORTS]
output-format=text
