---

#
# Clang-tidy configuration for Zeth
# This file follows the YAML syntax, see: https://yaml.org/spec/
#
# More details on clang-tidy configuration can be found here:
#   - https://stackoverflow.com/questions/54202025/where-to-find-list-of-available-options-for-clang-tidy-readability-identifier-n
#

#
# Checks removed:
#
# -modernize-avoid-c-arrays is removed because in some scenarios
#   C arrays are the best data structure to use. We encourage to use
#   C++ containers as much as possible, but we want to keep using
#   C arrays when relevant.
#
Checks: >
    -*,
    bugprone-*,
    llvm-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -modernize-avoid-c-arrays

HeaderFilterRegex: 'libzeth/*.(h|hpp|cpp)'

CheckOptions:
    - key: readability-identifier-naming.MacroDefinitionCase
      value: UPPER_CASE
    - key: readability-implicit-bool-conversion.AllowIntegerConditions
      value: '1'
