[submodule "depends/libsnark"]
	path = depends/libsnark
	url = https://github.com/scipr-lab/libsnark.git
[submodule "depends/googletest"]
	path = depends/googletest
	url = https://github.com/google/googletest.git
