/jsClient/node_modules/*
/jsClient/package-lock.json

# Ignore the build repo
/build/

# Ignore the coins we created
/coinstore/*.json

# Ignore the content of the keystore
/keystore/*.pem
/keystore/*.json

# Ignore the output of the trusted setup (ie: Proving and Verifying key)
/trusted_setup/*.raw
/trusted_setup/*.json

# Ignore the content of the debug folder
debug/*json

# Ignore node_modules
/zeth-contracts/node_modules/*

# Ignore pyClient env and build directories
/pyClient/zeth-devenv/
/pyClient/api/*_pb2.py
/pyClient/api/*_pb2_grpc.py
/pyClient/api/*_pb2.pyi

# Ignore python cache dirs
__pycache__
.mypy_cache
*.egg-info/

# Ignore some unix temp files
*~
\#*\#
