# Ignore the build repo
/build/

# Ignore the coins we created
/coinstore/

# Ignore the output of the trusted setup (ie: Proving and Verifying key)
/trusted_setup/

# Ignore the content of the debug folder
debug/*json

# Ignore node_modules
/zeth-contracts/node_modules/*

# Ignore pyClient env and build directories
/pyClient/api/*_pb2.py
/pyClient/api/*_pb2_grpc.py
/pyClient/api/*_pb2.pyi

# Ignore test files
/_test_contrib_*/
/_test_phase1_contrib_*/
/_test_contributors_from_csv/
/_test_server_phase*/
/_test_phase2_data/
/_test_zeth_cli/
/_test_zeth_cli_token/

# Ignore python cache dirs

# Python temp files
__pycache__
.mypy_cache
env/
*.egg-info

# Ignore some unix temp files
*~
\#*\#
