[submodule "depends/libsnark"]
	path = depends/libsnark
	url = git@gitlab.clearmatics.net:gg/libsnark-fork.git
[submodule "depends/googletest"]
	path = depends/googletest
	url = https://github.com/google/googletest.git
