addons:
    apt:
        packages:
            - docker.io
            - clang-format
    homebrew:
        packages:
            - gmp
            - grpc
            - protobuf
            - boost
            - openssl
            - cmake
            - python
            # - llvm

matrix:
    include:
        - env: CI_CONFIG=Release CI_USE_DOCKER=1
          os: linux
          python: 3.7
          language: minimal
        - env: CI_CHECK_FORMAT=1 CI_CONFIG=Debug CI_USE_DOCKER=1
          os: linux
          python: 3.7
          language: minimal
        - env: CI_CONFIG=Release
          os: osx
          python: 3.7
          osx_image: xcode11
        - env: CI_CONFIG=Debug
          os: osx
          python: 3.7
          osx_image: xcode11

script: CI_USE_DOCKER=${CI_USE_DOCKER} travis_wait 30 scripts/ci ${CI_CONFIG}
