[MESSAGES CONTROL]
disable=
    bad-continuation,
    too-many-arguments,
    too-many-instance-attributes,
    missing-class-docstring,
    missing-function-docstring,
    too-many-locals,
    too-many-statements,
    too-few-public-methods,
    wrong-import-order,
    missing-module-docstring,
    broad-except,
    too-many-function-args,
    duplicate-code,
    protected-access,
    fixme,
    import-outside-toplevel,
    unsubscriptable-object,

# TODO: `unsubscriptable-object` generates false positives for python 3.9 and pylint==2.6.
#   https://github.com/PyCQA/pylint/issues/3882
# Re-enable it when the issue is fixed.

good-names=c,e,h,i,k,m,r,y,x,cm,ct,el,ek,ex,rc,sk,vk,X,Y,nf

[REPORTS]
output-format=text
