# Build actions for every push on ubuntu
name: zeth-ci-push-build-ubuntu

on:
  push:

jobs:

  # Job to build and cache the grpc libraries. The grpc build directory is
  # populated and cached so that all other jobs can mark this job as a
  # prerequisite and just run `make install`.
  #
  # NOTE: the version number here (in `key` and in script arguments) must be
  # kept in sync with the key used by the jobs.
  build-grpc:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Cache grpc
      uses: actions/cache@v2
      with:
        key: grpc-1.31.x-${{ runner.os }}
        path: depends/grpc
    - name: Build grpc
      run: if ! [ -d depends/grpc ] ; then scripts/install_grpc /usr v1.31.x ; fi

  build-linux:
    runs-on: ubuntu-20.04
    needs: build-grpc
    strategy:
      matrix:
        config: [ Debug, Release ]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Cache grpc
      uses: actions/cache@v2
      with:
        key: grpc-1.31.x-${{ runner.os }}
        path: depends/grpc
    - name: Cache pip (for mpc tests)
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: build-linux-pip-${{ hashFiles('**/setup.py') }}-${{ runner.os }}
    - name: Install dependencies
      run: |
        INSTALL_ONLY=1 scripts/install_grpc /usr v1.31.x
        sudo apt install -y ccache
    - name: Execute
      run: CI_CHECK_FORMAT=1 CI_MPC_TESTS=1 CI_CONFIG=${{ matrix.config }} scripts/ci build

  build-linux-pghr13:
    runs-on: ubuntu-20.04
    needs: build-grpc
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Cache grpc
      uses: actions/cache@v2
      with:
        key: grpc-1.31.x-${{ runner.os }}
        path: depends/grpc
    - name: Install dependencies
      run: |
        INSTALL_ONLY=1 scripts/install_grpc /usr v1.31.x
        sudo apt install -y ccache
    - name: Execute
      run: CI_CONFIG=Release CI_ZKSNARK=PGHR13 scripts/ci build

  build-linux-bls12-377:
    runs-on: ubuntu-20.04
    needs: build-grpc
    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive
    - name: Cache grpc
      uses: actions/cache@v2
      with:
        key: grpc-1.31.x-${{ runner.os }}
        path: depends/grpc
    - name: Install dependencies
      run: |
        INSTALL_ONLY=1 scripts/install_grpc /usr v1.31.x
        sudo apt install -y ccache
    - name: Execute
      run: CI_CONFIG=Release CI_CURVE=BLS12_377 scripts/ci build
